* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 13pt;
    font-family: 'Poppins';
}

nav {
    background-color: antiquewhite;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

img {   
    width: 5%;
    margin-left: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li {
    margin: 20px 30px;
}

div {
    padding: 10px 50px;
}