* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: antiquewhite;
}

#fieldset-outside {
    position: absolute;
    border-radius: 10px;
    margin: 10px;
    background-color: whitesmoke;
    /* box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75); */
}

#container-header {
    display: flex;
    justify-content: space-between;
    padding: 25px;

}

.content-top {
    display: flex;
}

.image img {
    height: 210px;
    border-radius: 10px;
}

.profile-name {
    margin-left: 30px;
}

h2{
    padding: 0px;
    margin: 0;
    margin-bottom: 15px;
}

td, p{
    margin: 0;
    padding: 0px;
}

.categories {
    position: absolute;
    top: 10px; 
    right: 10px;     
    text-align: right;
    padding-right: 25px;
}

.categories h4 {
    margin-bottom: 8px;
    font-weight: bold;
}

.categories p {
    margin: 0;         
    line-height: 1.5;   
}

.content-middle {
    padding: 0 25px;
}

.content-third {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.image-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 5px;
    padding: 10px 50px;
    border: 1px solid #ccc;
    width: 100px;
    width: max-content; 
    margin: auto; 
}   


.image-grid img {
    width: 90px;
    text-align: center;
}

.medsos {
    width: 15%;
}

.content-medsos{
    padding:  20px;
}

.sosial-logo {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.sosial-logo:hover {
    color: blue;
}

legend {
    font-size: 19px;
}

