@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitcount+Prop+Single+Ink:wght@100..900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: Poppins, sans-serif;
}

.container {
    box-shadow: 0px 0px 27px -9px rgba(198, 198, 198, 0.75);
    border-radius: 25px;
    margin: 40px 100px;
    padding-bottom: 40px;
}

.header-cv {
    margin-top: 10px;
    text-align: center;
}

.text-hd {
    font-family: Bebas Neue, sans-serif;
    font-size: 2.5rem;
    color: blue;
    padding: 10px;
    text-align: center;
}

hr {
    text-align: center;
    height: 3px;
    width: 80%;
    margin: auto;
    background: black;
}


.content-pr {
    display: flex;
    justify-content: center;
    margin: 20px;
    align-items: center     ;
}


.img-profile {
    border-radius: 10px;
    box-shadow: 0px 0px 27px -9px rgba(166,166,166,0.75);
    width: 200px;    
    height: 250px;
    object-fit: cover;
    object-position: center;
}

table {
    text-align: left;
    margin-left: 15px;
    border: none;
}

tr, th, td {
    padding-left: 5px;
}

.alamat {
    margin-left: 22px;
}

.content-edc {
    display: flex;
    justify-content: center; 
    margin: 20px;
}

.content-abt {
    display: flex;
    justify-content: center;
}

.about-me {
    width: 70%;
    margin: 20px;
}

.content_etc {
    border-left: 2.3px solid rgb(76, 0, 255); 
    padding: 0px 20px;
}

.majority {
    color: rgb(127, 127, 127);
}

.content-img {
    text-align: center;
    margin: 10px;
}

.img-project {
    border-radius: 5px;
    box-shadow: 0px 0px 27px -9px rgba(166,166,166,0.75);
    /* width: 300px;*/
    height: 250px;
    object-fit: cover;
    object-position: center;
    margin: 10px;
}